html {
  font-size: 24px;
}

body {
  background-color: white;
}

.logo{
margin-top: 3vh;
width: 15vw;
height: 10vh;
max-width: 100px;
max-height: 90px;
}
.read-more-link{
  color: blueviolet;
  /* text-decoration: underline; */
  letter-spacing: 1px;
  cursor: pointer;
}
*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#title {
  font-size: 6.5vw 6.5vh !important;
  font-family: 'Exo 2', sans-serif;
  color: rgb(168, 32, 32);
  padding-top: 3vh;
}
.illness-title {
  color: rgb(168, 32, 32);
  font-family: 'Exo 2', sans-serif;
  font-size: 5.5vw;
}

.illness-titles {
  color: rgb(168, 32, 32);
  font-family: 'Exo 2', sans-serif;
  font-size: 4.5vw;
}
.logout-button{
  height: 2.5vh;
  width: 10vw;
  margin: 15px;
}
.nav {
  display: flex;
  flex-direction: row ;
  border-bottom: white;
  justify-content: space-between;
  background-color: rgba(100,127,166,.91);

  
  
}
.users{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  padding-right: 20px;
  
}

.logos{
  display: flex;
  flex-direction: row;
  padding-left: 40px;
}


.illness-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  width: 30vw;
  padding: 20px;
  margin: 20px;
  background-color: white;
  flex-direction:column;


  border-radius:16px;
  overflow:hidden;
  
  box-shadow:  10px 10px 20px #647fa6, -10px -10px 27px #647fa6;

}
.illness-pic{
  margin: auto;
}

.illnesses{
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.illness-image{
  height:6vh;
  width:18em;
  margin: auto;
  
  
}

.illness-detail {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  margin: 3.5vh;
  height: 80vh;
}
.illness-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  
  width: 55vw;
  max-width: 800px;
  padding: 20px;
  
  background-color: white;
  flex-direction:column;


  border-radius:16px;
  overflow:hidden;
  
  box-shadow:  10px 10px 20px #647fa6, -10px -10px 27px #647fa6;
}
.illness-detail-image {
  width: 20vw;
  height: 8vh;
}
.symptom-card {
  margin-top: 1.5vh ;
  width: 40vw;
  max-width: 500px;
  border-left: 6px solid rgb(168, 32, 32);
  background-color: rgba(100,127,166,.51);
  transform: translate(50%, 50%);
}
.symptom-description {
  color: rgb(168, 32, 32);
  font-family: 'Exo 2', sans-serif;
  font-size: 3vw;
  margin: 15px;
}
.illness-cards p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2vw 1vh;
  
  max-height: 300px;
}